body {
    font-size: 100%;
    font-family: serif;
}

img.acclogo {
    height: 25%;
}

h1 {
    font-size: 130%;
    /* Web browser defaults for h1 word wrap differs... */
    word-wrap: break-word;
    white-space: normal;
}

table {
    width: 100%;
    background: white;
    border: 0;
    table-layout: auto;
}

tr.indexhead {
    background: #efefef;
}

tr.indexbreakrow {
    display: none;
}

table tr th,
table tr td {
    width: 0%;
    padding: 0.3em 0.2em;
    text-align: left;
}

table thead tr th {
    padding: 0.3em 0.2em 0.2em;
    font-weight: bold;
}

table tr:nth-child(even) {
    background: #f5f5f5;
}

.indexcolname {
    width: 100%;
    max-width:1px;
    word-break: break-all;
}

.indexcollastmod {
    white-space: nowrap;
}

address,
.mirrorindex .info {
    font-size: smaller;
    padding: 1em 1em;
}

.mirrorindex .alert {
    color: red;
    font-weight: bold;
}

/* Hide columns on small screens, least important vanishes first */
@media (max-width: 67ch) {
    .indexcollastmod {
        display: none;
    }
}
@media (max-width: 50ch) {
    .indexcolicon {
        display: none;
    }
}
@media (max-width: 47ch) {
    .indexcolsize {
        display: none;
    }
}
