<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <title>Index of {{.Path}}</title>
    <link rel="stylesheet" href="/static/css/autoindex.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1"> </head>
<body>
<h1 id="indextitle">Index of {{.Path}}</h1>
<table id="indexlist">
    <tr class="indexhead"><th class="indexcolicon"><img src="/static/blank.svg" alt="[TXT]"></th><th class="indexcolname"><a href="?C=N;O=D">Name</a></th><th class="indexcollastmod"><a href="?C=M;O=A">Content Type</a></th><th class="indexcolsize"><a href="?C=S;O=A">Size</a></th></tr>
    <tr class="indexbreakrow"><th colspan="4"><hr></th></tr>
    {{range .Files}}
    <tr class="odd"><td class="indexcolicon"><a href="{{.Path}}"><img src="/static/{{.Icon}}.svg" alt="[TXT]"></a></td><td class="indexcolname"><a href="{{.Path}}">{{.Name}}</a></td><td class="indexcollastmod">{{.Type}}</td><td class="indexcolsize">{{.Size}}</td></tr>
    {{end}}
    <tr class="indexbreakrow"><th colspan="4"><hr></th></tr>
</table>
<address>SimpleFileServer/1.0.00 (Unix) Server</address>
</body></html>
